a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-family: "Open-Sans", sans-serif;

}

/* header section */

header {
    font-weight: 700;
}

header .logo-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

}

header .header-nav {
    display: flex;
    justify-content: center;
}

header .header-nav ul li {
    display: inline-block;

}

header .header-nav ul li a {
    color: #000;
    display: inline-block;
    padding: 45px 22px;

}

header .flag-wrapper {
    display: flex;
    align-items: center;
    height: 100%;

}

header .flag-wrapper p {
    text-align: right;
    color: #666666;
    font-size: 12px;
    line-height: 16px;
}

header .flag-wrapper img {
    width: 60px;
    height: 60px;
    margin-left: 1rem;

}

/* main */
/* intro section */
.intro-section {
    background-color: #F8F8F8;
    padding-top: 72px;
    padding-bottom: 74px;
}

.left-side {
    padding-top: 38px;
}

.left-side h1 {
    width: 266px;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
}

.left-side ul {
    margin-bottom: 49px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.left-side ul li {
    display: inline-block;
    color: #595959;
    font-size: 16px;
    margin: 0 0.5rem;
    position: relative;
}

.left-side ul li:first-child {
    margin-left: 0;
}

.left-side ul li:after {
    content: "";
    width: 1px;
    height: 60%;
    background-color: #595959;
    position: absolute;
    bottom: 5px;
    right: -11px;
}

.left-side ul li:last-child::after {
    content: none;
}

.download-button {
    display: flex;
    align-items: center;
    background-color: #56B84E;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    text-align: left;
    margin-right: 18px;
}

.download-button img {
    margin-right: 1rem;
}

.download-button div p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6px;
}

.section-title {
    text-align: center;
}

.section-title h1 {
    font-family: "Open-sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 7px;

}

.section-title p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #595959;
    margin-bottom: 60px;



}

.pricing-section {
    padding-top: 120px;
    padding-bottom: 130px;
}

.price-item {
    background-color: #F8F8F8;
    padding: 30px 26px 30px 20px;
    border-radius: 20px;
    margin-bottom: 20px;

}

.price-item-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.price-item-title h4 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #56B84E;
    font-size: 18px;
    line-height: 20px;
}

.price-item p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #595959;

}

.price-item-title img {
    width: 32px;
    height: 32px;
}

.worker-section {
    background-color: #F8F8F8;
    position: relative;
}

.worker-section-title {
    padding-top: 90px;
    padding-bottom: 115px;
}

.worker-section img {
    position: absolute;
    top: -40px;
}

.worker-section h1 {
    color: #56B84E;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    size: 40px;
    line-height: 52px;
    margin-bottom: 30px;
}

.worker-section p {
    color: #4D4D4D;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

}
.services-section{
    padding-top: 151px;
    padding-bottom: 97px;
}

.services-section .section-title h1{
    margin-bottom: 56px;
}

.services-section .service-item {
    background: #FFFFFF;
    border: 2px solid #E6E6E6;
    border-radius: 20px;
    width: 204px;
    padding:27px 17px 50px 17px ;
    text-align: center;
    font-family: "Roboto" ,sans-serif;
    margin-bottom: 20px;

}
.services-section .service-item img{
    margin-bottom: 27px;
}
.services-section .service-item h4{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.services-section .service-item p {
    font-weight: 400;
    color:#595959;
    line-height: 19px;
    font-size: 14px;
}

