a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-family: "Open-Sans", sans-serif;

}

/* header section */

header {
    font-weight: 700;
}

header .logo-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

}

header .header-nav {
    display: flex;
    justify-content: center;
}

header .header-nav ul li {
    display: inline-block;

}

header .header-nav ul li a {
    color: #000;
    display: inline-block;
    padding: 45px 22px;

}

header .flag-wrapper {
    display: flex;
    align-items: center;
    height: 100%;

}

header .flag-wrapper p {
    text-align: right;
    color: #666666;
    font-size: 12px;
    line-height: 16px;
}

header .flag-wrapper img {
    width: 60px;
    height: 60px;
    margin-left: 1rem;

}

/* main */
/* intro section */
.intro-section {
    background-color: #F8F8F8;
    padding-top: 72px;
    padding-bottom: 74px;
}

.intro-section button {
    margin-right: 18px;
}

.intro-section .left-side {
    padding-top: 38px;
}

.left-side h1 {
    width: 266px;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
}

.left-side ul {
    margin-bottom: 49px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.left-side ul li {
    display: inline-block;
    color: #595959;
    font-size: 16px;
    margin: 0 0.5rem;
    position: relative;
}

.left-side ul li:first-child {
    margin-left: 0;
}

.left-side ul li:after {
    content: "";
    width: 1px;
    height: 60%;
    background-color: #595959;
    position: absolute;
    bottom: 5px;
    right: -11px;
}

.left-side ul li:last-child::after {
    content: none;
}

.download-button {
    display: flex;
    align-items: center;
    background-color: #56B84E;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    text-align: left;
}

.download-button.md {
    padding: 10px 67px 14px 21px;

}

.download-button.md p {
    margin-bottom: 6px;
}

.download-button.md h4 {
    font-size: 20px
}

.download-button img {
    margin-right: 1rem;
}

.download-button div p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6px;
}

.download-button.shadow {
    filter: drop-shadow(0px 20px 30px rgba(86, 184, 78, 0.5));
}

.section-title {
    text-align: center;
}

.section-title h1 {
    font-family: "Open-sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 7px;

}

.section-title p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #595959;
    margin-bottom: 60px;



}

.pricing-section {
    padding-top: 120px;
    padding-bottom: 130px;
}

.price-item {
    background-color: #F8F8F8;
    padding: 30px 26px 30px 20px;
    border-radius: 20px;
    margin-bottom: 20px;

}

.price-item-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.price-item-title h4 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #56B84E;
    font-size: 18px;
    line-height: 20px;
}

.price-item p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #595959;

}

.price-item-title img {
    width: 32px;
    height: 32px;
}

.worker-section {
    background-color: #F8F8F8;
    position: relative;
}

.worker-section-title {
    padding-top: 90px;
    padding-bottom: 115px;
}

.worker-section img {
    position: absolute;
    top: -40px;
}

.worker-section h1 {
    color: #56B84E;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    size: 40px;
    line-height: 52px;
    margin-bottom: 30px;
}

.worker-section p {
    color: #4D4D4D;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

}

.services-section {
    padding-top: 151px;
    padding-bottom: 97px;
}

.services-section .section-title h1 {
    margin-bottom: 56px;
}

.services-section .service-item {
    background: #FFFFFF;
    border: 2px solid #E6E6E6;
    border-radius: 20px;
    width: 204px;
    padding: 27px 17px 50px 17px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;

}

.services-section .service-item img {
    margin-bottom: 27px;
}

.services-section .service-item h4 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.services-section .service-item p {
    font-weight: 400;
    color: #595959;
    line-height: 19px;
    font-size: 14px;
}

.download-section {
    background-color: #F8F8F8;

}

.download-section h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    size: 36px;
    line-height: 46px;


}

.download-section .left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;

}

.download-section h4 {
    margin-bottom: 20px;
}

.right-side {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.aboutus-section {
    padding-top: 152px;
    padding-bottom: 120px;
}

.aboutus-section .aboutus-content {
    padding-top: 82px;
    position: relative;
    margin-bottom: 60px;
}

.aboutus-section .aboutus-content::after {
    content: "";
    width: 47px;
    height: 4px;
    background-color: #56B84E;
    position: absolute;
    bottom: -30px;
    left: 0;

}

.aboutus-section .aboutus-content img {
    width: 78px;
    position: absolute;
    top: -30px;
}

.aboutus-section .aboutus-content p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 37px;
    margin-bottom: 1rem;
}

.color-success {
    color: #56B84E;
}

.aboutus-section .aboutus-content p a {
    font-weight: 700;
    position: relative;
}

.aboutus-section .aboutus-content p a::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 5px;
    background-color: #56B84E;
}

.aboutus-section .aboutus-author h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #4D4D4D;
    line-height: 31px;

}

.aboutus-section .aboutus-author p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #808080;
    line-height: 23px;

}

.testimonial-section {
    padding-top: 60px;
    padding-bottom: 144px;
    background-image: url("/assets/images/bg-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial-section .testimonial-title {
    text-align: center;
    margin-bottom: 41px;
}

.testimonial-section .testimonial-title h3 {
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 6px;
}

.testimonial-section .testimonial-title p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding: 0 120px;

}

.testimonial-section .testimonial-content {
    text-align: center;
    position: relative;
    height: 100%;

}

.testimonial-content .body {
    position: relative;
}


.testimonial-content .body button {
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 3px;
    padding: 12px 18px;

}

.testimonial-content .body button img {
    width: 12px;
    height: 24px;
}

.testimonial-content .body button:hover {
    background: rgba(255, 255, 255, 0.2);


}

.testimonial-content .arrow-left {
    left: -37px;
}

.testimonial-content .arrow-right {
    right: -37px;

}

.testimonial-content .dots span {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #FFFFFF;
    opacity: 0.5;
    cursor: pointer;

}

.testimonial-content .dots span.active {
    opacity: 1;
}


.testimonial-content .dots {
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
}

.offer-section {
    padding-top: 120px;
    padding-bottom: 120px;

}

.offer-section .section-title {
    margin-bottom: 60px;

}

.offer-section .btn-group {
    margin-bottom: 80px;
}

.offer-section .btn-group .btn {
    padding: 13px 18px 13px 43px;
    border: 2px solid #C4C4C4;
    border-right: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #595959;
    background-color: #fff;

}

.offer-section .btn-group .btn:last-child {
    border-right: 2px solid #C4C4C4;
}

.offer-section .btn-group .btn:nth-child(2) {
    padding: 13px 25px 13px 37px;
}

.offer-section .btn-group .btn.active {
    color: #56B84E;
    border-color: #56B84E;
    font-weight: 700px;

}

.offer-list li img {
    margin-right: 20px;
}

.offer-list li {
    margin-bottom: 40px;
}